<a href="https://colab.research.google.com/github/Shivateja10/SML-2303A52480/blob/main/SML_ASIGN4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
#Question1
#reading the data
import pandas as pd
dis=pd.read_csv("/content/train.csv")
print(dis)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2  ...         20       756  2549     9     7
1       0.7        136        3  ...        905      1988  2631    17     3
2       0.9        145        5  ...       1263      1716  2603    11     2
3       0.8        131        6  ...       1216      1786  2769    16     8
4       0.6        141        2  ...       1208      1212  1411     8     2
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
1995    0.8        106        6  ...       1222      1890   668    13     4
1996    0.2        187        4  ...        915      1965  2032    11    10
1997    0.7        108        8  ...        868      1632  3057     9     1
1998    0.1        145        5  ...        336       670   869    18    10
1999    0.9        168        6  ...        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi  price_range
0            19        0             0     1            1
1             7        1             1     0            2
2             9        1             1     0            2
3            11        1             0     0            2
4            15        1             1     0            1
...         ...      ...           ...   ...          ...
1995         19        1             1     0            0
1996         16        1             1     1            2
1997          5        1             1     0            3
1998         19        1             1     1            0
1999          2        1             1     1            3

[2000 rows x 21 columns]

In [35]:
#find target variable
y = dis['price_range']
print(y)

0       1
1       2
2       2
3       2
4       1
       ..
1995    0
1996    2
1997    3
1998    0
1999    3
Name: price_range, Length: 2000, dtype: int64

In [36]:
#find features
x = dis.drop('price_range', axis=1)
print(x)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2   2         20       756  2549     9     7
1       0.7        136        3   6        905      1988  2631    17     3
2       0.9        145        5   6       1263      1716  2603    11     2
3       0.8        131        6   9       1216      1786  2769    16     8
4       0.6        141        2  14       1208      1212  1411     8     2
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
1995    0.8        106        6  14       1222      1890   668    13     4
1996    0.2        187        4   3        915      1965  2032    11    10
1997    0.7        108        8   3        868      1632  3057     9     1
1998    0.1        145        5   5        336       670   869    18    10
1999    0.9        168        6  16        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi
0            19        0             0     1
1             7        1             1     0
2             9        1             1     0
3            11        1             0     0
4            15        1             1     0
...         ...      ...           ...   ...
1995         19        1             1     0
1996         16        1             1     1
1997          5        1             1     0
1998         19        1             1     1
1999          2        1             1     1

[2000 rows x 20 columns]

In [37]:
#normalization using min-max scaling
xx = (x-x.min()) // (x.max() - x.min())
print(xx)

      battery_power  blue  clock_speed  dual_sim   fc  four_g  int_memory  \
0               0.0   0.0          0.0       0.0  0.0     0.0         0.0
1               0.0   1.0          0.0       1.0  0.0     1.0         0.0
2               0.0   1.0          0.0       1.0  0.0     1.0         0.0
3               0.0   1.0          0.0       0.0  0.0     0.0         0.0
4               0.0   1.0          0.0       0.0  0.0     1.0         0.0
...             ...   ...          ...       ...  ...     ...         ...
1995            0.0   1.0          0.0       1.0  0.0     1.0         0.0
1996            0.0   1.0          0.0       1.0  0.0     0.0         0.0
1997            0.0   0.0          0.0       1.0  0.0     1.0         0.0
1998            0.0   0.0          0.0       0.0  0.0     1.0         0.0
1999            0.0   1.0          0.0       1.0  0.0     1.0         0.0

      m_dep  mobile_wt  n_cores   pc  px_height  px_width  ram  sc_h  sc_w  \
0       0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
1       0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
2       0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
3       0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
4       0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
...     ...        ...      ...  ...        ...       ...  ...   ...   ...
1995    0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
1996    0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
1997    0.0        0.0      1.0  0.0        0.0       0.0  0.0   0.0   0.0
1998    0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
1999    0.0        0.0      0.0  0.0        0.0       0.0  0.0   1.0   0.0

      talk_time  three_g  touch_screen  wifi
0           0.0      0.0           0.0   1.0
1           0.0      1.0           1.0   0.0
2           0.0      1.0           1.0   0.0
3           0.0      1.0           0.0   0.0
4           0.0      1.0           1.0   0.0
...         ...      ...           ...   ...
1995        0.0      1.0           1.0   0.0
1996        0.0      1.0           1.0   1.0
1997        0.0      1.0           1.0   0.0
1998        0.0      1.0           1.0   1.0
1999        0.0      1.0           1.0   1.0

[2000 rows x 20 columns]

In [38]:
#splitting of data into train and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(xx, y, test_size=0.2, random_state=30)

In [39]:
print(x_train)
print(x_test)
print(y_train)
print(y_test)

      battery_power  blue  clock_speed  dual_sim   fc  four_g  int_memory  \
1572            0.0   0.0          0.0       1.0  0.0     0.0         0.0
1442            0.0   0.0          0.0       1.0  0.0     0.0         0.0
1516            0.0   1.0          0.0       1.0  0.0     1.0         0.0
259             0.0   1.0          0.0       1.0  0.0     1.0         0.0
945             0.0   0.0          0.0       0.0  0.0     1.0         0.0
...             ...   ...          ...       ...  ...     ...         ...
500             0.0   1.0          0.0       1.0  0.0     0.0         0.0
1837            0.0   0.0          0.0       1.0  0.0     1.0         0.0
941             0.0   0.0          0.0       1.0  0.0     1.0         0.0
421             0.0   0.0          0.0       1.0  0.0     0.0         0.0
1829            0.0   0.0          0.0       1.0  0.0     1.0         0.0

      m_dep  mobile_wt  n_cores   pc  px_height  px_width  ram  sc_h  sc_w  \
1572    0.0        0.0      1.0  0.0        0.0       0.0  0.0   0.0   0.0
1442    0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
1516    0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
259     0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
945     0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
...     ...        ...      ...  ...        ...       ...  ...   ...   ...
500     0.0        0.0      1.0  0.0        0.0       0.0  0.0   0.0   0.0
1837    0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
941     0.0        0.0      0.0  0.0        0.0       0.0  0.0   1.0   0.0
421     0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
1829    0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0

      talk_time  three_g  touch_screen  wifi
1572        0.0      0.0           0.0   1.0
1442        0.0      0.0           1.0   0.0
1516        0.0      1.0           0.0   0.0
259         0.0      1.0           1.0   1.0
945         0.0      1.0           1.0   0.0
...         ...      ...           ...   ...
500         1.0      0.0           0.0   1.0
1837        0.0      1.0           0.0   1.0
941         0.0      1.0           0.0   0.0
421         0.0      1.0           1.0   0.0
1829        0.0      1.0           0.0   0.0

[1600 rows x 20 columns]
      battery_power  blue  clock_speed  dual_sim   fc  four_g  int_memory  \
1856            0.0   0.0          0.0       0.0  0.0     0.0         0.0
364             0.0   1.0          0.0       0.0  0.0     0.0         0.0
1948            0.0   0.0          0.0       0.0  0.0     0.0         0.0
1458            0.0   0.0          0.0       0.0  0.0     1.0         0.0
609             0.0   0.0          0.0       0.0  0.0     1.0         0.0
...             ...   ...          ...       ...  ...     ...         ...
1163            0.0   1.0          0.0       0.0  0.0     0.0         0.0
572             0.0   1.0          0.0       0.0  0.0     1.0         0.0
1105            0.0   1.0          0.0       1.0  0.0     0.0         0.0
1903            0.0   1.0          0.0       0.0  0.0     0.0         0.0
481             0.0   1.0          0.0       0.0  0.0     1.0         0.0

      m_dep  mobile_wt  n_cores   pc  px_height  px_width  ram  sc_h  sc_w  \
1856    1.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
364     0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
1948    1.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
1458    0.0        0.0      0.0  1.0        0.0       0.0  0.0   0.0   0.0
609     0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
...     ...        ...      ...  ...        ...       ...  ...   ...   ...
1163    0.0        0.0      1.0  0.0        0.0       0.0  0.0   0.0   0.0
572     0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
1105    0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
1903    1.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0
481     0.0        0.0      0.0  0.0        0.0       0.0  0.0   0.0   0.0

      talk_time  three_g  touch_screen  wifi
1856        0.0      1.0           0.0   0.0
364         0.0      0.0           1.0   0.0
1948        0.0      0.0           1.0   1.0
1458        0.0      1.0           0.0   0.0
609         0.0      1.0           1.0   1.0
...         ...      ...           ...   ...
1163        0.0      0.0           0.0   1.0
572         0.0      1.0           1.0   0.0
1105        0.0      0.0           0.0   0.0
1903        0.0      0.0           0.0   1.0
481         0.0      1.0           1.0   0.0

[400 rows x 20 columns]
1572    2
1442    1
1516    1
259     3
945     3
       ..
500     0
1837    1
941     0
421     2
1829    0
Name: price_range, Length: 1600, dtype: int64
1856    3
364     0
1948    1
1458    1
609     2
       ..
1163    2
572     3
1105    0
1903    2
481     3
Name: price_range, Length: 400, dtype: int64

In [40]:
#Question2
#reading the data
import pandas as pd
dis=pd.read_csv("/content/housing.csv")
print(dis)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns]

In [46]:
#target variable
y = dis['ocean_proximity']
print(y)
print(y.shape)
print(y.dtype)

0        NEAR BAY
1        NEAR BAY
2        NEAR BAY
3        NEAR BAY
4        NEAR BAY
           ...
20635      INLAND
20636      INLAND
20637      INLAND
20638      INLAND
20639      INLAND
Name: ocean_proximity, Length: 20640, dtype: object
(20640,)
object

In [44]:
#features
x = dis.drop('ocean_proximity', axis=1)
print(x)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

[20640 rows x 9 columns]

In [45]:
#normalization
xx = (x-x.min()) // (x.max() - x.min())
print(xx)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0            0.0       0.0                 0.0          0.0             0.0
1            0.0       0.0                 0.0          0.0             0.0
2            0.0       0.0                 1.0          0.0             0.0
3            0.0       0.0                 1.0          0.0             0.0
4            0.0       0.0                 1.0          0.0             0.0
...          ...       ...                 ...          ...             ...
20635        0.0       0.0                 0.0          0.0             0.0
20636        0.0       0.0                 0.0          0.0             0.0
20637        0.0       0.0                 0.0          0.0             0.0
20638        0.0       0.0                 0.0          0.0             0.0
20639        0.0       0.0                 0.0          0.0             0.0

       population  households  median_income  median_house_value
0             0.0         0.0            0.0                 0.0
1             0.0         0.0            0.0                 0.0
2             0.0         0.0            0.0                 0.0
3             0.0         0.0            0.0                 0.0
4             0.0         0.0            0.0                 0.0
...           ...         ...            ...                 ...
20635         0.0         0.0            0.0                 0.0
20636         0.0         0.0            0.0                 0.0
20637         0.0         0.0            0.0                 0.0
20638         0.0         0.0            0.0                 0.0
20639         0.0         0.0            0.0                 0.0

[20640 rows x 9 columns]

In [47]:
#splitting of data into train and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(xx, y, test_size=0.2, random_state=30)

In [48]:
print(x_train)
print(x_test)
print(y_train)
print(y_test)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
7186         0.0       0.0                 0.0          0.0             0.0
7686         0.0       0.0                 0.0          0.0             0.0
6332         0.0       0.0                 0.0          0.0             0.0
14192        0.0       0.0                 0.0          0.0             0.0
6611         0.0       0.0                 1.0          0.0             0.0
...          ...       ...                 ...          ...             ...
500          0.0       0.0                 1.0          0.0             0.0
12077        0.0       0.0                 0.0          0.0             0.0
15277        0.0       0.0                 0.0          0.0             0.0
4517         0.0       0.0                 0.0          0.0             0.0
5925         0.0       0.0                 0.0          0.0             0.0

       population  households  median_income  median_house_value
7186          0.0         0.0            0.0                 0.0
7686          0.0         0.0            0.0                 0.0
6332          0.0         0.0            0.0                 0.0
14192         0.0         0.0            0.0                 0.0
6611          0.0         0.0            0.0                 0.0
...           ...         ...            ...                 ...
500           0.0         0.0            0.0                 0.0
12077         0.0         0.0            0.0                 0.0
15277         0.0         0.0            0.0                 0.0
4517          0.0         0.0            0.0                 0.0
5925          0.0         0.0            0.0                 0.0

[16512 rows x 9 columns]
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
19449        0.0       0.0                 0.0          0.0             0.0
10452        0.0       0.0                 0.0          0.0             0.0
18982        0.0       0.0                 0.0          0.0             0.0
8187         0.0       0.0                 0.0          0.0             0.0
15759        0.0       0.0                 1.0          0.0             0.0
...          ...       ...                 ...          ...             ...
12704        0.0       0.0                 0.0          0.0             0.0
18742        0.0       0.0                 0.0          0.0             0.0
19142        0.0       0.0                 0.0          0.0             0.0
1027         0.0       0.0                 0.0          0.0             0.0
17830        0.0       0.0                 0.0          0.0             0.0

       population  households  median_income  median_house_value
19449         0.0         0.0            0.0                 0.0
10452         0.0         0.0            0.0                 0.0
18982         0.0         0.0            0.0                 0.0
8187          0.0         0.0            0.0                 1.0
15759         0.0         0.0            0.0                 0.0
...           ...         ...            ...                 ...
12704         0.0         0.0            0.0                 0.0
18742         0.0         0.0            0.0                 0.0
19142         0.0         0.0            0.0                 0.0
1027          0.0         0.0            0.0                 0.0
17830         0.0         0.0            0.0                 0.0

[4128 rows x 9 columns]
7186      <1H OCEAN
7686      <1H OCEAN
6332      <1H OCEAN
14192    NEAR OCEAN
6611         INLAND
            ...
500        NEAR BAY
12077     <1H OCEAN
15277    NEAR OCEAN
4517      <1H OCEAN
5925         INLAND
Name: ocean_proximity, Length: 16512, dtype: object
19449       INLAND
10452    <1H OCEAN
18982       INLAND
8187     <1H OCEAN
15759     NEAR BAY
           ...
12704       INLAND
18742       INLAND
19142    <1H OCEAN
1027        INLAND
17830    <1H OCEAN
Name: ocean_proximity, Length: 4128, dtype: object